<%= div_for application do %>
    <h3>
      <%= link_to application.title, application %>
      <span class='actions'>
      <%= link_to t('general.edit'), edit_application_path(application) %>
        <%= link_to t('general.delete'), application,
                    :confirm => t('general.are_you_sure'), :method => :delete %>
    </span>
    </h3>
<% end %>