<%= div_for version do %>
    <h3>
      <%= version.number %>
    <span class='actions'>
       <%= link_to 'Delete', [@application, version], :confirm => 'Are you sure?',
                   :method => :delete %>
    </span>
    </h3>
    <% version.change_log.each do |c| %>
    <%= c %>
    <br />
    <% end %>
<% end %>