<%= div_for version do %>
    <h3>
      <%= link_to version.number.to_s, version %>
    <span class='actions'>
       <%= link_to 'Delete', [@application, version], :confirm => 'Are you sure?',
                   :method => :delete, :remote => true %>
    </span>
    </h3>
    <%= change_log_to_html version %>
<% end %>